Repository staticWagomU/nest-todo: changes, and which lefthook commands are due for each by the changed paths.
All: backend-lint, frontend-lint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    backend-lint:
      glob: "app/backend/**/*.{js,ts}"
      run: cd app/backend && pnpm lint:check && pnpm format:check
    frontend-lint:
      glob: "app/frontend/**/*.{js,ts,jsx,tsx}"
      run: cd app/frontend && pnpm lint:check && pnpm format:check && pnpm typecheck

pre-push:
  jobs:
    - name: backend tests
      root: "app/backend/"
      run: pnpm test

    - name: frontend tests
      root: "app/frontend/"
      run: pnpm test

feat: TODOのチェック状態更新処理
  app/backend/src/todos/todos.controller.ts
  app/backend/src/todos/todos.service.ts
  app/frontend/app/root.tsx
  app/frontend/app/routes/_index/loader.ts
  app/frontend/app/routes/_index/route.tsx
  app/frontend/package.json
  pnpm-lock.yaml
Due: backend-lint, frontend-lint

docs: update
  CLAUDE.md
Due: none

chore: fetchライブラリをswrに変更
  app/frontend/app/root.tsx
  app/frontend/app/routes/_index/loader.ts
  app/frontend/app/routes/_index/route.tsx
  app/frontend/package.json
  pnpm-lock.yaml
Due: frontend-lint

feat: 型を明記
  app/backend/src/todos/todos.controller.ts
Due: backend-lint

chore: open apiを導入
  app/backend/package.json
  app/backend/src/main.ts
  app/backend/src/todos/dto/create-todo.dto.ts
  app/backend/src/todos/dto/update-todo.dto.ts
  app/backend/src/todos/todos.controller.ts
  pnpm-lock.yaml
Due: backend-lint

feat: orvalを追加
  app/backend/src/todos/dto/create-todo.dto.ts
  app/backend/src/todos/entities/todo.entity.spec.ts
  app/backend/src/todos/entities/todo.entity.ts
  app/backend/src/todos/todos.controller.spec.ts
  app/backend/src/todos/todos.controller.ts
  app/frontend/app/api/fetcher.ts
  app/frontend/app/api/generated.ts
  app/frontend/app/root.tsx
  app/frontend/app/routes/_index/loader.ts
  app/frontend/app/routes/_index/route.tsx
  app/frontend/orval.config.js
  app/frontend/package.json
  pnpm-lock.yaml
Due: backend-lint, frontend-lint

fix: error
  app/frontend/vite.config.ts
Due: none

feat: UUIDv7に変更
  app/backend/package.json
  app/backend/src/todos/entities/todo.entity.ts
  pnpm-lock.yaml
Due: backend-lint

feat: TODOの並びかえ機能を追加
  CLAUDE.md
  app/backend/src/todos/todos.controller.ts
  app/backend/src/todos/todos.service.ts
  app/frontend/app/api/generated.ts
  app/frontend/app/routes/_index/route.tsx
Due: backend-lint, frontend-lint

feat: TODOの詳細・変更モーダルの作成
  app/frontend/app/routes/_index/loader.ts
  app/frontend/app/routes/_index/route.tsx
Due: frontend-lint

feat: 子TODOを追加できるようにする
  app/backend/src/todos/dto/create-todo.dto.ts
  app/backend/src/todos/entities/todo.entity.ts
  app/backend/src/todos/todos.controller.ts
  app/backend/src/todos/todos.service.ts
  app/frontend/app/api/generated.ts
  app/frontend/app/routes/_index/loader.ts
  app/frontend/app/routes/_index/route.tsx
Due: backend-lint, frontend-lint

chore: update env.example
  app/backend/.env.example
Due: none

feat: AI組み込んだよ
  app/backend/src/ai/ai.controller.ts
  app/backend/src/ai/ai.module.ts
  app/backend/src/ai/ai.service.ts
  app/backend/src/app.module.ts
  app/backend/src/todos/todos.controller.ts
  app/backend/src/todos/todos.module.ts
  app/frontend/app/api/generated.ts
  app/frontend/app/routes/_index/loader.ts
  app/frontend/app/routes/_index/route.tsx
Due: backend-lint, frontend-lint

feat: ローカルでも動かせるようにするよ
  LOCAL_SETUP.md
  app/backend/.env.example
  docker-compose.yml
Due: none

chore: add flake.nix
  .envrc
  .gitignore
  flake.nix
Due: none

chore: ignore .postgres
  .gitignore
Due: none

chore(nix): update flake
  flake.lock
Due: none

feat: 子TODOがあっても削除できるようにする
  app/backend/src/todos/todos.controller.ts
  app/backend/src/todos/todos.service.ts
  app/frontend/app/api/generated.ts
  app/frontend/app/routes/_index/route.tsx
Due: backend-lint, frontend-lint

feat: uuidv7で採番する
  app/backend/src/todos/todos.service.ts
Due: backend-lint

feat(backend): uuidの生成処理追加
  app/backend/src/utils/uuid.utils.spec.ts
  app/backend/src/utils/uuid.utils.ts
Due: backend-lint

feat: 生成日付を追加
  app/backend/src/todos/entities/todo.entity.spec.ts
  app/backend/src/todos/entities/todo.entity.ts
  app/backend/src/todos/todos.controller.spec.ts
  app/backend/src/todos/todos.service.spec.ts
  app/backend/src/todos/todos.service.ts
  app/frontend/app/api/generated.ts
  app/frontend/app/routes/_index/route.tsx
Due: backend-lint, frontend-lint

feat(frontend): storybookを導入
  app/frontend/.gitignore
  app/frontend/.storybook/main.ts
  app/frontend/.storybook/preview.tsx
  app/frontend/app/components/ConfirmDialog.tsx
  app/frontend/app/components/SortControl.tsx
  app/frontend/app/components/TodoForm.tsx
  app/frontend/app/components/TodoItem.tsx
  app/frontend/package.json
  app/frontend/stories/ConfirmDialog.stories.ts
  app/frontend/stories/SortControl.stories.ts
  app/frontend/stories/TodoForm.stories.ts
  app/frontend/stories/TodoItem.stories.ts
  pnpm-lock.yaml
Due: frontend-lint

chore(backend): update
  app/backend/src/todos/todos.service.ts
Due: backend-lint

chore(deps): upgrade storybook
  app/frontend/package.json
  pnpm-lock.yaml
Due: none

feat(frontend): storybook upgrade対応
  app/frontend/.gitignore
  app/frontend/.storybook/main.ts
  app/frontend/.storybook/preview.tsx
  app/frontend/stories/ConfirmDialog.stories.ts
  app/frontend/stories/SortControl.stories.ts
  app/frontend/stories/TodoForm.stories.ts
  app/frontend/stories/TodoItem.stories.ts
  biome.json
Due: frontend-lint

docs: storybookのupgradeドキュメントを追加
  docs/2025-711_storybook-upgrade-report.md
Due: none
